*{
    margin: 0;
}

body {
    background-color:gainsboro;
}

.bloco_30 {
    width: 30%;
    text-align: center;
    background-color: #CD5C5C;
}

.bloco_70 {
    background-color: #F5F5DC;
}

.nome {
    color: darkslategray;
}

table, tr, td, th {
    /*border: 1px solid white;*/
    /*border-collapse: collapse;*/
    width: 100vw;
    height: 100vh;
}

img {
    border-radius: 50%;
    border: darkslategray solid 3px;
    width: 200px;
    height: 200px;
}

a.link_config:link,
a.link_config:visited {
    font-family:Arial, Helvetica, sans-serif;
    color: #F5F5DC;
    text-decoration: none;
}

a.link_config:hover,
a.link_config:active {
    color: darkslategray;
    text-decoration: none;
}

a.link_config1:link,
a.link_config1:visited {
    font-family:Arial, Helvetica, sans-serif;
    color: darkslategray;
    text-decoration: none;
}

a.link_config1:hover,
a.link_config1:active {
    color: #CD5C5C;
    text-decoration: none;
}

a.icons_config {
    color: darkslategray;
    text-decoration: none;
}

.nome_config {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 300px;
    font-size: 50px;
    color: #CD5C5C;
    font-weight: bold;
}

.endereco_config {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: darkslategray;
}

.conhecinhetos_config {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: darkslategray;
    margin-left: 50px;
    
}

.email_config {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #CD5C5C;
}

.descri_config {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: darkslategray;
}